@import "src/scss/config/variable.scss";
@import "src/scss/config/mixin.scss"; 

.infos-about-me {
padding-top: 13vh;
height: 22vh;
background-color: $primaryColor;
color: $textPrimaryColor;

  &_text {
    text-align: center;
    font-size: 1.7rem;
  }
}

.container-infos {
  margin: 0 8% 8%;
} 

.student {
  display: flex;
  margin: 8% 0 10%;
  font-size: $text;
  align-items: center;

  img {
    margin-right: 2vw;
  }

  &_container{
    width: 65vw;
  }

  &_content {
    display: flex;

    &:first-child {
      margin-bottom: 1%;
    }

    h2 {
      margin-right: 4px;
      font-size: 1.2rem;
      font-weight: bolder;  
    }
  }
}

.skills {
  margin-bottom: 10%;

  h1 {
    text-transform: uppercase;
    font-size: $title;
  }

  .container_skills {
    display: flex;
   
    div {
      width: 40vw;
    }
  }

  .container_skill {
    margin-bottom: 3%;

    h2 {
      font-size: $text;
      margin-bottom: 2%;
    }

    .bar {
      height: 21px;
      width: 440px;
      border-radius: 8px;
    }

    &_bar1 {
      background: $secondaryColor;
    }
    
    &_bar2 {
      background:$primaryColor;
    }
    
    &_bar3 {
      background:#DDEDF4;
    }
  }  
}

.services {
  margin-bottom: 10%;

  h1 {
    font-size: $title;
    text-transform: uppercase;
  }

  .animation {
    overflow: hidden;
    max-width: 100vw;
  }

  .container-services {
    @include flexbox($justify: space-between);
    width: 168vw;
    text-align: center;
    margin-top: 6%;
    animation: 10s linear 1s infinite slidein;
  }

  .content-services {
    width: 24vw;

    &_title {
      margin: 10% 0 8%;
      text-transform: uppercase;
      font-weight: bolder;
    }

    &_text {
      font-size: $text;
      color: #696969;
    }
  }
}

.line1 {
  width: 100%;
  height: 3px;
  background: $longLinePrimary;
}

.line2 {
  width: 3%;
  height: 4px;
  background: $LongLineSecondary;
  margin-top: 5px;
  margin-bottom: 6%;
}

@keyframes slidein {
  from { transform: translateX(-18%) translateY(0px) translateZ(0px) }
  50%   { transform: translateX(-10%) translateY(0px) translateZ(0px) }
  from { transform: translateX(-18%) translateY(0px) translateZ(0px) }
}