@import "src/scss/config/variable.scss"; 
@import "src/scss/config/mixin.scss"; 

header {
  background-color: white;
  height: 9vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;

  img {
    margin-top: 3%;
    margin-left: 3%;

    @include mobile {
      margin-top: 7%;
    }
  }

  .toogle-btn {
    width: 35px;
    height: 40px;
    position: fixed;
    top: 3%;
    right: 3%;
    cursor: pointer;
  }

  .toogle-btn span {
    height: 3px;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;

      &::before, &::after {
        content: "";
        height: 3px;
        background-color: black;
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
        transition-duration: 2.5s;
      }

    &::after {
      top: 10px;
    }
  }
  
  nav.is-open + .open-menu span {
    background-color: transparent;
  }
  
  nav.is-open + .open-menu span::before {
    transform: rotate(45deg) translate(20px, 6px);
    background-color: #fff;
  }
  
  nav.is-open + .open-menu span::after {
    transform: rotate(-45deg) translate(8px, 6px);
    background-color: #fff;
  }

  .menu {
    @include flexbox();
    width: 100vw;
    height: 6vh;
    margin-top: 3.5vh;
    background-color: #3d3d3d;
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    transform: translateX(100%);
    transition-duration: 1.8s;

    @include mobile {
      height: 8vh;
    }
    
    & a {
      color: #fff;
      font-size: 1.5rem;
      margin: 1% 0;

      @include mobile {
        font-size: 1rem;
      }

      &:hover {
          text-decoration: underline;
      }
    }
  }

  nav.is-open {
    transform: none;
  }
}

