@import "src/scss/config/variable.scss"; 
@import "src/scss/config/mixin.scss"; 

.project {
  margin-top: 8%;
  text-align: center;

  &_title {
    text-align: center;
    font-size: $title;
    text-transform: uppercase;
    margin-bottom: 2%;
  }
}

.container-project {
  @include flexbox();

  &_content {
    @include flexbox();
    background: $primaryColor;
    height: 72vh;
    width: 85vw;
    align-items: center;
  }

  .container-img {
    position: relative;
  
    &_img {
      width: 35vw;
      height: 55vh;
    }
  
    .container-text {
      position: absolute;
      font-size: 1.7rem;
      display: flex;
      align-items: center;
      margin-top: 4%;
      padding: 2%;
      text-align-last: left;
      top: 50%;
      left: 10%;
      color: #95948F;
    }
  }
  
}