@import "src/scss/config/variable.scss"; 
@import "src/scss/config/mixin.scss"; 

.project {
  margin-top: 7%;
  text-align: center;

  &_title {
    text-align: center;
    font-size: $title;
    text-transform: uppercase;
    margin-bottom: 2%;
  }
}

.container-project {
  @include flexbox();
  position: relative;
  height: 80vh;

  .icon-arrow {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    cursor: pointer;
  
    &_left {
      left: 1vw;
    }
  
    &_right {
      right: 1vw;
    }
  }

  &_content {
    @include flexbox();
    background: $primaryColor;
    height: 72vh;
    width: 85vw;
    align-items: center;
  }

  .container-img {
    position: relative;
    cursor: pointer;
  
    &_img {
      width: 35vw;
      height: 55vh;
    }
  
    .container-text {
      position: absolute;
      font-size: 1.7rem;
      color:#3D3D3D;

      &_iot {
        align-items: center;
        width: 28vw;
        top: 38%;
        left: 10%;
        padding: 2%;

        h1 {
          font-size: 3rem;
          margin-top: 6%;
          color: #95948F;
        }

        p {
          margin: 3% 0 3%;
          font-size: 1.3rem;
          font-weight: bolder;
        }
      }

      &_cloud {
        display: block;
        width: 26vw;
        top: 50%;
        left: 14%;
        color: #95948F;

        h1 {
          font-size: 3rem;
          font-weight: bolder;
          margin-bottom: 2%;
          color: #3D3D3D;
        }
      }
    }
  }  
}
.hide {
  display: none;
}

.show {
  display: flex;
}