@font-face {
  font-weight: 400;
  font-family: 'Questrial';
  src : url('Questrial-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Quicksand';
  src : url('Quicksand-Regular.ttf');
}