//Colors
$primaryColor: #f7f7f2;
$secondaryColor: #e7f0ec;
$bgTertiaryColor: #efede5; 
$white: #ffffff; 

//Colors Text
$textPrimaryColor: black;
$textSecondaryColor: #5f635d;
$textTertiaryColor: white;

//Font-size
$titleIndex: 6rem;
$textIndex: 1.4rem;
$title: 2rem;
$text: 1.12rem;

// Line decor
$shortLinePrimary: white;
$shortLineSecondary: black;
$longLinePrimary: #e7f0ec;
$LongLineSecondary: #ddedf4;