//Colors
$primaryColor: #f7f7f2;
$secondaryColor: #e7f0ec;
$bgTertiaryColor: #efede5; 
$white: #ffffff; 

//Colors Text
$textPrimaryColor: black;
$textSecondaryColor: #5f635d;
$textTertiaryColor: white;

//Font-size
$titleIndex: 6rem;
$textIndex: 1.4rem;
$title: 2rem;
$text: 1.12rem;
$textBtn: 1.1rem;

$titleIndexMobile: 3rem;
$textIndexMobile: 1rem;
$textBtnMobile: 0.8rem;

$titleIndexTablet: 3.5rem;
$textIndexTablet: 1.3rem;

// Line decor
$shortLinePrimary: white;
$shortLineSecondary: black;
$longLinePrimary: #e7f0ec;
$LongLineSecondary: #ddedf4;

//Breakpoint
$desktop-small: 1200px;
$tablet: 820px;
$mobile: 480px;
