.infos-about-me {
padding-top: 13vh;
height: 22vh;
background-color: #E7F0EC;

  &_text {
    text-align: center;
    font-size: 1.7rem;

  }
}

.container-infos {
  margin: 0 8% 8%;
} 

.student {
  display: flex;
  margin: 8% 0 10%;
  font-size: 1.12rem;
  align-items: center;

  img {
    margin-right: 2vw;
  }

  &_container{
    width: 65vw;
  }

  &_content {
    display: flex;

    &:first-child {
      margin-bottom: 1%;
    }

    h2 {
      margin-right: 4px;
      font-size: 1.2rem;
      font-weight: bolder;  
    }
  }
}

.skills {
  margin-bottom: 10%;

  h1 {
    text-transform: uppercase;
    border-bottom: #E7F0EC;
    font-size: 2rem;
  }

  .container_skills {
    display: flex;
   
    div {
      width: 40vw;
    }
  }

  .container_skill {
    margin-bottom: 3%;

    h2 {
      font-size: 1.12rem;
      margin-bottom: 2%;
    }

    .bar {
      height: 21px;
      width: 440px;
      border-radius: 8px;
      border: solid 1px #000;
    }

    &_bar1 {
      background: linear-gradient(90deg, #E7F0EC  60%, #ffffff 40%);
    }
    
    &_bar2 {
      background: linear-gradient(90deg, #F0EFE7  60%, #ffffff 40%);
    }
    
    &_bar3 {
      background: linear-gradient(90deg, #DDEDF4  60%, #ffffff 40%);
    }
  }  
}

.services {
  margin-bottom: 10%;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .container-services {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 6%;
  }

  .content-services {
    width: 24vw;

    &_title {
      margin: 10% 0 8%;
      text-transform: uppercase;
      font-weight: bolder;
    }

    &_text {
      font-size: 1.12rem;
      color: #696969;
    }
  }
}

.line1 {
  width: 100%;
  height: 3px;
  background: #E7F0EC;
}

.line2 {
  width: 3%;
  height: 4px;
  background: #ddedf4;
  margin-top: 5px;
  margin-bottom: 6%;
}
