@import "src/scss/config/variable.scss"; 
@import "src/scss/config/mixin.scss"; 

.container-hero  {
  width: 100vw;
  height: 100vh;
  padding-top: 6%;
  background: $bgSecondaryColor;
}

.content-hero {
  @include flexbox;
  padding-top: 4em;
  position: relative;

  &_flower {
    height: 80vh;
    width: 29vw;
  }

  &_portrait {
    margin-top: 7%;
    margin-left: 6%;

    &_portrait-img {
      width: 27vw;
      height: 40vh;
      margin-left: 4%;
    }

    h1 {
      text-align: center;
      margin-top: 6%;
      color: #5f635d;
      font-size: 4.5rem;
      font-family: 'Quicksand';
    }

    p {
      font-size: 1.3rem;
      color: #5c605a;
      text-align: center;
      margin-top: 2%;
    }  
  }
}

.content  {
  @include flexbox($justify: space-between);
}

.line1, .line3 {
  @include LineShort();
}

.line2 {
  @include LineShort($w: 4vw, $bg: $shortLineSecondary);

}

.container-section  {
  padding-top: 3%;
  width: 100vw;
  height: 98vh;
  background: $bgTertiaryColor;
  padding-left: 16%;

  .container-article {
    @include flexbox($direction: column);
    width: 24vw;
    height: 90vh;
    padding-bottom: 6%;

    h1 {
      font-size: $titleIndex;
      margin-bottom: 8%;
    }  

    p {
      font-size: $textIndex;
      width: 46vw;
      margin: 8% 0 14% 0;
    }

    button {
      width: 12rem;
      height: 3.3rem;
      font-size: 1.1rem;
      font-family: 'Questrial';
      text-transform: uppercase;
      background-color: white;
      border: none;
      border-radius: 4px;
      transition: transform .6s;
    }

    button:hover {
      cursor: pointer;
      border: solid  1px #d5d5d5;
      transform: scale(1.05);
    }
  }

  .container-img {
    display: flex;
    align-items: flex-end;
    height: 85vh;
    
    &_img {
      width: 56vw;
      height: 55vh;
    }
  }  
}

.about-me {
  background: $bgSecondaryColor;
  padding-left: 0;

  &_container {
    @include flexbox($direction: row-reverse);

    .container-article {
      width: 45vw;

      h1 {
        font-size: $titleIndex;
        margin-bottom: 2%;
        text-transform: uppercase;
      }

      p {
        margin: 6% 0 8%;
      }
    }

    .container-img {
     align-items: center;
     margin-right: 4%;

      &_about-me {
        width: 40vw;
        height: 55vh;
      }
    }
  }
}

.contact  {
  background: #6b6767;

  h1, a {
    color: #f7f7f1;
  }

  a {
    font-size: 1.9rem;
    margin: 6% 0 12%;
  }

  &_line {
    background-color: #f7f7f1;
  }

  &_icons:first-child {
    margin-right: 5%;
  }
}

// scrollmagic
.project {
  opacity: 0;
  transition: all 0.6s linear;
}
.about-me {
  opacity: 0;
  transition: all 0.6s linear;
}
.fade-in {
  opacity: 1;
}