@import "src/scss/config/variable.scss"; 
@import "src/scss/config/mixin.scss"; 

.container-hero  {
  width: 100vw;
  height: 100vh;
  padding-top: 6%;
  background: $primaryColor;
}

.content-hero {
  @include flexbox;
  padding-top: 4em;
  position: relative;

  &_flower {
    height: 80vh;
    width: 29vw;

    @include mobile {
      display: none;
    }
  }

  &_portrait {
    margin-top: 7%;
    margin-left: 6%;

    @include mobile {
      @include flexbox($direction: column);
      align-items: center;
      margin: 0;
      height: 80vh;
    }

    &_img {
      @include mobile {
        width: 66vw;
        height: 40vh;
      }
    }

    h1 {
      text-align: center;
      margin-top: 6%;
      color: #5f635d;
      font-size: 4.5rem;
      font-family: 'Quicksand';

      @include mobile {
        font-size: 2.2rem;
      }
    }

    p {
      font-size: 1.3rem;
      color: #5c605a;
      text-align: center;
      margin-top: 2%;
    }  
  }
}

.content  {
  @include flexbox($justify: space-between);

  @include mobile {
    @include flexbox($direction:column);
  }
}

.line1, .line3 {
  @include LineShort();
}

.line2 {
  @include LineShort($w: 4vw, $bg: $shortLineSecondary);

}

.container-section  {
  padding-top: 3%;
  width: 100vw;
  height: 98vh;
  background: $bgTertiaryColor;
  padding-left: 16%;

  // @include mobile {  
  //   height: auto;
  // }

  .container-article {
    @include flexbox($direction: column);
    width: 24vw;
    height: 90vh;
    padding-bottom: 6%;

    @include mobile {  
      width: auto;
      height: 47vh;
    }

    h1 {
      font-size: $titleIndex;
      margin-bottom: 8%;

      @include mobile {
        font-size: $titleIndexMobile;
        margin-bottom: 3%;
      }
    }  

    p {
      font-size: $textIndex;
      width: 46vw;
      margin: 8% 0 14%;

      @include mobile {
        font-size: $textIndexMobile;
        width: 63vw;
        margin: 4% 0 10%;
      }
    }

    button {
      width: 12rem;
      height: 3.3rem;
      font-size: $textBtn;
      font-family: 'Questrial';
      text-transform: uppercase;
      background-color: white;
      border: none;
      border-radius: 4px;
      transition: transform .6s;

      @include mobile {
        font-size: $textBtnMobile;
        width: 7rem;
        height: 2.3rem;
      }
    }

    button:hover {
      cursor: pointer;
      border: solid  1px #d5d5d5;
      transform: scale(1.05);
    }
  }

  .container-img {
    display: flex;
    align-items: flex-end;
    height: 85vh;

    @include mobile {
      height: 62vh;
    }
    
    &_img {
      width: 56vw;
      height: 55vh;

      @include mobile {
        width: 100vw;
        height: 37vh;
        transform: translate(-16vw, -28vh);
      }
    }
  }  
}

.about-me {
  background: $primaryColor;
  padding-left: 0;

  &_container {
    @include flexbox($direction: row-reverse);

    @include mobile {
      @include flexbox($direction: column);
      padding-left: 16%;
    }

    .container-article {
      width: 45vw;

      @include mobile {
        width: auto;
      }

      h1 {
        margin-bottom: 2%;
        text-transform: uppercase;

        @include mobile {
          font-size: $titleIndexMobile;
        }
      }

      p {
        margin: 6% 0 8%;
      }
    }

    .container-img {
     align-items: center;
     margin-right: 4%;

      &_about-me {
        width: 40vw;
        height: 55vh;

        @include mobile {
          width: 99vw;
          height: 42vh;
          transform: translate(-8vw, -9vh);
        }
        
      }
    }
  }
}

.contact  {
  background: $bgTertiaryColor;

  h1 {
    color: white;
  }

  a {
    color: #919191;
    font-size: 1.9rem;
    margin: 6% 0 12%;

    @include mobile {
      font-size: $textIndexMobile;
      width: 63vw;
    }
  }

  &_line {
    background-color: #f7f7f1;
  }

  &-icons:hover {
    color: #5c605a;
  }

  &_icons:first-child {
    margin-right: 5%;
  }

  .container-img {
    @include mobile {
      height: 48vh;

      &_img {
        @include mobile {
          transform: translate(-16vw, -14vh);
        }
      }
    }
  }
}

// scrollmagic
.project {
  opacity: 0;
  transition: all 0.6s linear;
}
.about-me {
  opacity: 0;
  transition: all 0.6s linear;
}
.fade-in {
  opacity: 1;
}

