* {
  box-sizing: border-box;
  margin: 0;
}

body {
 font-family: 'Quicksand';
}

h1 {
  font-family: 'Questrial';
}

.container-section1  {
  width: 100vw;
  height: 100vh;
  padding-top: 6%;
  background: #f7f7f2;
}

.content-section1 {
  display: flex;
  justify-content: center;
  padding-top: 4em;

  & .flower {
    height: 80vh;
  }

  & .portrait {
    margin-top: 15%;

    & h1 {
      text-align: center;
      font-size: 72px;
      color: #858b82;
    }
  }
}

.container-section2  {
  padding-top: 3%;
  width: 100vw;
  height: 98vh;
  background: #efede5;
  padding-left: 16%;

  & .content  {
    display: flex;
    justify-content: space-between;

    & .container-article {
      width: 24vw;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 6%;

      & h1 {
        font-size: 6rem;
        margin-bottom: 8%;
      }  

      & .line1, .line3 {
        width: 10vw;
        height: 8px;
        background-color: white;

      }

      & .line2 {
        width: 4vw;
        height: 8px;
        background-color: black;

      }

      & .line3 {
        background-color: #E7F0EC;

      }

      & p {
        font-size: 2rem;
        width: 46vw;
        margin: 8% 0 14% 0;
      }

      & button {
        width: 12rem;
        height: 3.3rem;
        font-size: 1.5rem;
        font-family: 'Questrial';
        text-transform: uppercase;
        border: solid 1Px;
        border-radius: 4px;
        transition: transform .6s;
      }

      & button:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    .container-img {
      display: flex;
      align-items: flex-end;
      height: 85vh;

      & img {
        width: 56vw;
        height: 55vh;
      }
    }
  }
}

.container-section3 {
  background: #f7f7f2;
  padding-left: 0;

  & .content__section3 {
    flex-direction: row-reverse;
    justify-content: center;

    .container-article {
      width: 45vw;

      h1 {
        font-size: 6rem;
        margin-bottom: 2%;
        text-transform: uppercase;
      }

      p {
        margin: 6% 0 8%;
      }
    }

    .container-img {
     align-items: center;
     margin-right: 4%;

     img {
      width: 40vw;
      height: 55vh;
    }
    }
  }

  & button {
    background-color: #E7F0EC;
  }

}


.container-section4  {
  background: #6b6767;

  h1, p {
    color: #f7f7f1;
  }

  .btn-contact {
    background-color: #f7f7f1;
    border: none;
  }


}

.line-contact {
  background-color: #f7f7f1;
}

.section2 {
  opacity: 0;
  transition: all 0.6s linear;
}

.section3 {
  opacity: 0;
  transition: all 0.6s linear;
}

.fade-in {
  opacity: 1;
}


